.board {
    min-width: 290px;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    gap: 20px;
}

.board_top{
    display: flex;
}

.board_top_more {
    position: relative;
}

.board_dropdown{
    width: 130px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 0 20px rgba(0,0,0,0.1);
}

.board_top_title{
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
}

.board_top_title span {
    color: gray;
}

.board_cards {
 
  
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;

}