.cardinfo {
    padding: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
}

.cardinfo_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardinfo_box_title {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    gap: 10px;
}

.cardinfo_box_colors{
    display: flex;
    gap: 15px;
    align-items: center;
}

.cardinfo_box_colors li{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    list-style: none;
}

.cardinfo_box_colors .active{
    border: 3px solid yellow;
}

.cardinfo_box_body {
    width: fit-content;
}

.cardinfo_box_body input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    font-size: 1rem;
}

.cardinfo_box_labels {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}