.chip {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px 8px;
    margin-left: 2px;
    color: #fff;
    background-color: grey;
    border-radius: 40px;
    font-size: 14px;
    width: fit-content;
}

.chip svg {
    height: 16px;
    width: 16px;
}

.chip:hover {
    cursor: pointer;
}